{% extends 'base.html.twig' %}

{% block title %}
    Profiles Page
{% endblock %}

{% block body %}
    <main>
        <h1>Profiles</h1>
        <hr/>

        <section>
            <ul>
                {% for profile in profiles %}
                    <li>{{ profile.id }} - {{ profile.name }} {{  profile.age }}</li>
                {% else %}
                    <strong>No profile found.</strong>
                {% endfor %}
            </ul>

            <ul>Global variables in twig:
                <li><strong>_self</strong>: {{ _self }}</li>
                <li><strong>_charset</strong>: {{ _charset }}</li>
            </ul>
        </section>

    </main>
{% endblock %}
